name: CI - MLflow ReTraining Pipeline

on:
  workflow_dispatch:

jobs:
  mlflow_retrain:
    runs-on: ubuntu-latest
    steps:
      - name: Set up job
        run: echo "Starting MLflow retraining pipeline..."

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: 3.12.7

      - name: Check Env
        run: python --version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow xgboost scikit-learn pandas

      - name: Set MLflow Tracking URI
        run: echo "MLflow tracking set to local file storage"

      - name: Run MLflow training script
        run: |
          cd MLProject
          python modelling.py


      - name: Upload to GitHub Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: |
            MLProject/mlruns/
            MLProject/model_boosting/
            **/*.pkl
            **/*.json
            **/*.csv

      - name: Complete job
        run: echo "MLflow retraining pipeline completed successfully!"
